In [17]:
import pandas as pd 

def read_worldseries_data():
    
    FILE_PATH = "C:\CIS5357\ClassDemos"
    df_worldseries_winners = pd.read_table(FILE_PATH + '\WorldSeriesWinners.txt', header = None, sep= ',')
    df_worldseries_winners.columns = ['team_name']
    return df_worldseries_winners

In [13]:
df_worldseries_winners = read_worldseries_data()

In [ ]:
def calculate_wins(df_worldseries_winners):
    df_winning_teams = df_worldseries_winners['team_name'].value_counts().index.tolist() #look at it with and without index 
    for idx,name in enumerate(df_winning_teams):
        print('name:'; name)
        print('Counts "', df_worldseries_winners['team_name'].value_counts()[idx])
    
    #df_winning_teams = df_winning_teams.rename(columns={'index':'Count'})
    
    return df_winning_teams

In [1]:
display(df_winning_teams)

NameError: name 'df_winning_teams' is not defined

In [ ]:
def main():
    continue_process = 'Y'
    df_worldseries_winners = read_worldseries_data()
    
    df_winning_teams = calculate_wins(df_worldseries_winners)
    
    while continue_process.upper() == 'Y':
        team_name = input('Please enter the name of the team:  ')
        team_record = df_winning_teams.loc[df_winning_teams['team_name']==team_name]
        display(team_record)
        num_of_times_won = team_record['index'].values[0]
        display(num_of_times_won)
        print(f"\n{team_name} has won the world series a total of {num_of_times_won} times between 1903 and 2009\n")
        continue_process = input(f"DO you wish to continue (Y or N)").upper()
    print("program terminated by user ")

In [24]:
main()

                 team_name
0         Boston Americans
1          New York Giants
2        Chicago White Sox
3             Chicago Cubs
4             Chicago Cubs
..                     ...
99          Boston Red Sox
100      Chicago White Sox
101    St. Louis Cardinals
102         Boston Red Sox
103  Philadelphia Phillies

[104 rows x 1 columns]

New York Yankees          26
St. Louis Cardinals       10
Boston Red Sox             6
Los Angeles Dodgers        5
Pittsburgh Pirates         5
Philadelphia Athletics     5
Cincinnati Reds            5
New York Giants            5
Oakland Athletics          4
Detroit Tigers             4
Chicago White Sox          3
Baltimore Orioles          3
Florida Marlins            2
Philadelphia Phillies      2
New York Mets              2
Toronto Blue Jays          2
Minnesota Twins            2
Cleveland Indians          2
Chicago Cubs               2
Atlanta Braves             1
Arizona Diamondbacks       1
Boston Americans           1
Brooklyn Dodgers           1
Kansas City Royals         1
Milwaukee Braves           1
Washington Senators        1
Boston Braves              1
Anaheim Angels             1
Name: team_name, dtype: int64

New York Yankees          26
St. Louis Cardinals       10
Boston Red Sox             6
Los Angeles Dodgers        5
Pittsburgh Pirates         5
Philadelphia Athletics     5
Cincinnati Reds            5
New York Giants            5
Oakland Athletics          4
Detroit Tigers             4
Chicago White Sox          3
Baltimore Orioles          3
Florida Marlins            2
Philadelphia Phillies      2
New York Mets              2
Toronto Blue Jays          2
Minnesota Twins            2
Cleveland Indians          2
Chicago Cubs               2
Atlanta Braves             1
Arizona Diamondbacks       1
Boston Americans           1
Brooklyn Dodgers           1
Kansas City Royals         1
Milwaukee Braves           1
Washington Senators        1
Boston Braves              1
Anaheim Angels             1
Name: team_name, dtype: int64

KeyboardInterrupt: Interrupted by user

In [11]:
FILE_PATH = "C:\CIS5357\ClassDemos"

continue_process = 'Y'

df_worldseries_winners = pd.read_table(FILE_PATH + '\WorldSeriesWinners.txt', header = None, sep= ',')
df_worldseries_winners.columns = ['team_name']
for idx,name in enumerate(df_winning_teams):    
    while continue_process.upper() == 'Y':
    
        df_winning_teams = df_worldseries_winners['team_name'].value_counts().index.tolist() #look at it with and without index 

        team_name = input('Please enter the name of the team:  ')
        if team_name in df_winning_teams:
        
                print(f'{team_name} has won { df_worldseries_winners['team_name'].value_counts()[idx]} world series')
           
    
    
            #print(f"\n{team_name} has won the world series a total of {df_worldseries_winners['team_name'].value_counts()} times between 1903 and 2009\n")
                continue_process = input(f"DO you wish to continue (Y or N)").upper()

            
print("program terminated by user ")

SyntaxError: invalid syntax (<ipython-input-11-8143b0c3f441>, line 15)

In [37]:
print(df_winning_teams)
print(df_worldseries_winners['team_name'].value_counts()[idx])

['New York Yankees', 'St. Louis Cardinals', 'Boston Red Sox', 'Los Angeles Dodgers', 'Pittsburgh Pirates', 'Philadelphia Athletics', 'Cincinnati Reds', 'New York Giants', 'Oakland Athletics', 'Detroit Tigers', 'Chicago White Sox', 'Baltimore Orioles', 'Florida Marlins', 'Philadelphia Phillies', 'New York Mets', 'Toronto Blue Jays', 'Minnesota Twins', 'Cleveland Indians', 'Chicago Cubs', 'Atlanta Braves', 'Arizona Diamondbacks', 'Boston Americans', 'Brooklyn Dodgers', 'Kansas City Royals', 'Milwaukee Braves', 'Washington Senators', 'Boston Braves', 'Anaheim Angels']
1